/* Base*/
body{
 background-color: #d6b2c8;
 color: rgb(255, 249, 249);
font-family: Georgia, 'Times New Roman', Times, serif;

}

/*Barra de pesquisa*/
.barra-pesquisa{
   border: 5px solid #ffa4b1;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: radius 10px; 
   width: 39%;
   height: 40%;
}
.x{
  width: 28px;
  height: 28px;
}

.lupa{
    float: left;
    width: 42px;
    height: 42px;
}

.textobarra{
    float: left;
    background-color: transparent;
   font-size: 50px;
   border: none;
   height: 55px;
   width: 75%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}


/* Usada pra centralizar o botão da tela inical*/
.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24%;
}

/*fundo do site*/ 
.container{
    position: relative;
    display: inline-block;   /*Para que a div se molde a imagem.*/
}
.fundo{
    padding-top: 7%;
    width: 1600px;
    height:900px;
    padding-left: 20%;
    border-style:calc(5px);
    
}


.neuronio1{
    position: absolute;
    width: 150px;
    height: 90px;
    top:170px;
    left: 790px;
    animation: go-back 4s infinite alternate-reverse;
   
}
/*Animando o neuronio */
 @keyframes go-back{
 from{
    transform: translateX(30px);    
 }  
 to{
    transform: translateY(60px)
   
 }  


 }


.neuronio2{
    position: absolute;
    width: 150px;
    height: 90px;
    top:220px;
    left: 890px;
    animation: girar 15s infinite alternate-reverse;
  
}

 /*Animando o neuronio que gira*/
 @keyframes girar{
    from{
    transform: rotate(0deg);    
 }  
 to{
    transform: rotate(360deg)
 }  

 }




.neuronio3{
    position: absolute;
    width: 150px;
    height: 90px;
    top:350px;
    left: 890px;
    animation: diagonal 7s infinite alternate-reverse; 

}
/*Animando o neuronio */
 @keyframes diagonal{
 from{
    transform: translateX(20px);    
 }  
 to{
    transform: translateY(15px)
   
 }  


 }



.neuronio4{
    position: absolute;
    width: 150px;
    height: 90px;
    top:335px;
    left: 790px;
    animation: girar 10s infinite alternate;
   
}



/* Espaço para todos os projetos*/
.projetos{
  
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding: 10%;

}


/* Projeto tremalize*/
.projeto-a{
    
   display: flex ;         
}
/* logo*/
.tremalize{
        width: 300px;
        height: 300px;
        border-radius: 10%;
}

.textoa{
    padding-left: 3%;

}

.tituloa{
    padding-top: 1%;
}

.descricaoa{
 padding-top:1%;
 width: 50%;
 height:50%;
 font-family: 'Times New Roman', Times, serif;
 
}

/* Projeto abraço*/
.projeto-b{
    padding-top: 25%;
    justify-content: end;
    display: flex;
    
}

/* Logo*/
.abraco{
        width: 300px;
        height: 300px;
        border-radius: 10%;
}
.textob{
   padding-right: 0%;

}

.titulob{
    padding-top: 1%;
    
}

.descricaob{
 padding-top:1%;
 width: 50%;
 height:50%;
 font-family: 'Times New Roman', Times, serif;

 
}

 