body{
 background-color: antiquewhite;
 color: black;

}


img{
    border-radius: 50px;
    width:250px;
    height: 200px;
  
 
}

.navbar{
    justify-content: center;
    background-color: rgb(230, 175, 103);
}
.botao{
    justify-content: center;
   align-items: center;
   display: flex;
   color: rgb(233, 190, 134);
}

.Inicio a{
    color: rgb(242, 177, 93);
    cursor:default;
}

.luz{
    position:fixed;
    width:100%;
    height:100%;
    background: radial-gradient(circle at 400px 300px, transparente, black 20%);
}