body{
 background-color: #d6b2c8;
 color: rgb(255, 249, 249);
font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Icones e borda da barra de pesquisa*/
.barra-pesquisa{
   border: 5px solid #ffa4b1;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border: radius 10px; 
   width: 39%;
   height: 40%;
}
.x{
  width: 28px;
  height: 28px;
}

.lupa{
    float: left;
    width: 42px;
    height: 42px;
}

.textobarra{
    float: left;
    background-color: transparent;
   font-size: 50px;
   border: none;
   height: 55px;
   width: 75%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}





.fotoPerfil{
    border-radius: 200px;
    width:15%;
    height: 15%;
    
}

.navbar{
    justify-content: center;
    background-color: rgb(230, 175, 103);
   
}

/*
.flex{
    display: flex;
    justify-content: center;
    align-items: center;  
}
*/

/* Usada pra centralizar o botão da tela inical*/
.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24%;
}

/* Botoes*/
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;

}
.btn btn-light{
    border-radius: 15%;
   
}

/* Espaço para todos os projetos*/
.projetos{
  
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    padding: 10%;

}


/* Projeto tremalize*/
.projeto-a{
    
   display: flex ;         
}
/* logo*/
.tremalize{
        width: 300px;
        height: 300px;
        border-radius: 10%;
}

.textoa{
    padding-left: 3%;

}

.tituloa{
    padding-top: 1%;
}

.descricaoa{
 padding-top:1%;
 width: 50%;
 height:50%;
 font-family: 'Times New Roman', Times, serif;
 
}

/* Projeto abraço*/
.projeto-b{
    padding-top: 25%;
    justify-content: end;
    display: flex;
    
}

/* Logo*/
.abraco{
        width: 300px;
        height: 300px;
        border-radius: 10%;
}
.textob{
   padding-right: 0%;

}

.titulob{
    padding-top: 1%;
    
}

.descricaob{
 padding-top:1%;
 width: 50%;
 height:50%;
 font-family: 'Times New Roman', Times, serif;

 
}

 /*Imagens dos icones*/
.icons{
    width: 30px;
    height:30px;
    
}


/* Fundo do footer*/
.dourado{
   background: #d6a320;
   background: linear-gradient(90deg,rgba(214, 163, 32, 1) 0%, rgba(235, 120, 33, 1) 51%, rgba(255, 221, 0, 1) 100%);
   color: white;

}

